main {
    display: table;
    caption-side: bottom;
}
    section {
        display: table-cell;
        width: 50%;
        vertical-align: top;
        background-color: maroon;
        color: white;
    }
    aside {
        display: table-cell;
        width: 50%;
        vertical-align: top;
        background-color: #e2e2e2;
    }
    .nav {
        display: table-caption;
    }
        .nav li {
            display: inline-block;
            background-color: pink;
            border: maroon;
            width: 19%;
            text-align: center;
            line-height: 1.5;
        }