h1, h2 {
  color: red; }

h1 {
  color: #fffa00;
  font-family: Georgia, Times, "Times New Roman"; }

h2 {
  color: #fffa00; }

h3 {
  color: #fffa00; }

h4 {
  color: #fffa00; }

h5 {
  color: #fffa00; }

article {
  padding: 7px;
  margin: 28px; }
