$breakpoints: (
  'small'  : 48em,
  'medium' : 56.25em,
  'large'  : 68.75em,
) !default;


@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

a {
    color: red;
    @include respond-to(small) {
        color: blue;
    }
}

wakkos@gmail.com - eMail.
CoolVillage - Skype.